.wrapper {
  display: flex;
  flex: 1;
  width: 100%;
}

.images {
  width: 30px;
  height: 30px;
}

.bottomTableContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cupponContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.buttonContainer {
  margin-top: 14px;
}

.checkoutCardContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex: 1;
}

.finishWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
