.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.smallWarpper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputStyle {
  padding: 12px;
}

.smallInputStyle {
  padding: 4px;
  margin-top: 3px;
  font-size: 12px;
}
