:global {
  .ace_editor {
    font-family: inherit !important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* * */
/* styles/global.css */

.swiper-pagination-bullet {
  background-color: #999; /* Cor dos pontos quando não selecionados */
  width: 10px;
  height: 10px;
  opacity: 1;
  margin: 0 5px; /* Ajuste o espaçamento entre os pontos conforme necessário */
}

.swiper-pagination-bullet-active {
  background-color: purple; /* Cor dos pontos quando selecionados */
}

.swiper-pagination {
  bottom: 10px; /* Ajuste este valor se precisar mover os pontos mais para baixo */
  text-align: center;
}
