@import "./../../../variables.scss";

.wrapper {
  padding: 14px;
  background-color: #fff;
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 12px;
}

.filterText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 100%;
  background-color: $categoryCard;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 12px;
}

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  gap: 6px;
  margin-bottom: 26px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  border: 1px solid transparent;
  border-radius: 12px;
}

.categoryItem:hover {
  cursor: pointer;
  border: 1px solid $brandSecondary;
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imageCarousel {
  width: 46px;
  height: 46px;
}
